/* printing - hide new course section and all buttons */
@media print {
	#new-course, button.btn {
		display: none;
	}
}


/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  padding: 0;
}

/*     bio      */

#bio input {
	margin-right: 40px;
	width: 250px;
}

.stack {
	display: inline-block;
}

.widelabel {
	display: inline-block;
	width: 150px;
}

/*     new-course     */

.sched-label {
	font-weight: normal;
	width: 70px;
}

.short {
	width: 75px;
}

span.together {
	display: inline-block;
}

.buttons {
	padding: 10px 0;
}

/*   courses / report     */

button.btn {
	padding: 3px 5px;
}

.sm {
	width: 50px;
}

.bg {
	width: 80px;
}

.ctr {
	text-align: center;
}

.totals {
	padding: 5px 0;
}

.totals > label {
	font-weight: bold;
	width: 200px;
}

.hdr {
	font-weight: bold;
	display: inline-block;
}

.dat {
	display: inline-block;
}

.subtot {
	font-weight: bold;
}


/*     validation     */

input.ng-invalid.ng-dirty {
	background-color: pink;
}