/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  padding: 0;
}

/*     bio      */

#bio input {
	margin-right: 40px;
	width: 250px;
}

.stack {
	display: inline-block;
}

.widelabel {
	display: inline-block;
	width: 150px;
}

/*     new-course     */

.sched-label {
	font-weight: normal;
	width: 70px;
}

.short {
	width: 75px;
}

/*     validation     */

input.ng-invalid.ng-dirty {
	background-color: pink;
}