/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  padding: 0;
}

/*     bio      */

#bio input {
	margin-right: 40px;
	width: 250px;
}

.stack {
	display: inline-block;
}

.widelabel {
	display: inline-block;
	width: 150px;
}

/*     new-course     */

.sched-label {
	font-weight: normal;
	width: 70px;
}

.short {
	width: 75px;
}

span.together {
	display: inline-block;
}

/*     courses        */

#courses > table {
	border-collapse: collapse;
}

#courses td {
	padding: 3px 30px 3px 0;
}

#courses td.sm {
	width: 50px;
}

#courses td.bg {
	width: 80px;
}

.totals > label {
	font-weight: bold;
	width: 200px;
}

/*     report         */

#report {
	font-family: monospace;
	white-space: pre;
}

/*     validation     */

input.ng-invalid.ng-dirty {
	background-color: pink;
}