<!doctype html>
<html lang="en" ng-app="gpaCalc">
<head>
  <meta charset="utf-8">
  <title>GPA Calculator - Angular Demo</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
</head>
<body ng-cloak>
	<div class="container" ng-controller="gpaCalcController">

		<h1>GPA Calculator - Angular Demo</h1>

		<hr/>

		<form name="gpaCalcForm">

		<div id="bio" class="panel">
			<div>
				<div class="stack">
					<label for="name" class="widelabel">Applicant Name:</label>
					<input type="text" id="name" placeholder="Name" ng-model="gpacalc.name"/>
				</div>
				<div class="stack">
					<label for="school" class="widelabel">School Name:</label>
					<input type="text" id="school" placeholder="School" ng-model="gpacalc.school"/>
				</div>
			</div>
			<div>
				<div class="stack">
					<label for="degree" class="widelabel">Degree Program:</label>
					<input type="text" id="degree" placeholder="Degree" ng-model="gpacalc.degree"/>
				</div>
				<div class="stack">
					<label for="major" class="widelabel">Major:</label>
					<input type="text" id="major" placeholder="Major" ng-model="gpacalc.major"/>
				</div>
			</div>
		</div>

		<div id="new-course" class="panel">
			<div>
				<div>
					<label class="widelabel">Schedule:</label>
					<span class="together">
						<input type="radio" name="schedule" id="semester" value="semester" required ng-model="gpacalc.schedule" />
						<label for="semester" class="sched-label">Semester</label>
					</span>
					<span class="together">
						<input type="radio" name="schedule" id="quarter" value="quarter" required ng-model="gpacalc.schedule" />
						<label for="quarter" class="sched-label">Quarter</label>
					</span>
				</div>
				<div>
					<label for="term" class="widelabel">Term:</label>
					<select id="term" ng-model="gpacalc.term" required ng-options="k as v for (k,v) in terms"></select>
				</div>
				<div>
					<label for="year" class="widelabel">Year:</label>
					<input type="text" class="short" id="year" placeholder="YYYY" required ng-pattern="/^\d{4}$/" ng-model="gpacalc.year"/>
				</div>
				<div>
					<label for="grade" class="widelabel">Grade:</label>
					<input type="text" class="short" id="grade" required ng-pattern="/^(a[-+b]?|b[-+c]?|c[-+d]?|d[-+]?|f)$/i" ng-model="gpacalc.grade"/>
				</div>
				<div>
					<label for="units" class="widelabel">Units:</label>
					<input type="text" class="short" id="units" required ng-pattern="/^\d+$/" ng-model="gpacalc.units"/>
				</div>
				<div>
					<span class="widelabel"></span>
					<button type="button" class="btn" ng-disabled="gpaCalcForm.$invalid" ng-click="addClass(gpacalc, gpaCalcForm)">Add Class</button>
				</div>
			</div>
		</div>
		
		<div id="courses" class="panel" ng-hide="noClasses()">
			<table>
				<tr>
					<th></th><th>Year</th><th>Term</th><th>Schedule</th><th>Grade</th><th>Units</th><th>School</th>
				</tr>
				<tr ng-repeat="course in courses | orderBy:['year', 'term', 'schedule']">
					<td><button type="button" class="btn" ng-click="deleteClass(course)">Delete</button></td>
					<td class="sm">{{course.year}}</td>
					<td class="bg">{{course.termLabel()}}</td>
					<td class="bg">{{course.schedule}}</td>
					<td class="sm">{{course.grade}}</td>
					<td class="sm">{{course.adjustedUnits() | number: 2}}</td>
					<td class="sm">{{course.school}}</td>
				</tr>
			</table>

			<div class="totals">
				<label>adjusted unit total:</label>
				{{ adjustedUnitTotal(courses) | number: 3 }}
			</div>
			<div class="totals">
				<label>grade point average:</label>
				{{ gradePointAverage(courses) | number: 3 }}
			</div>

			<button type="button" class="btn" ng-click="print()">Print</button>
			<button type="button" class="btn" ng-click="clearAll()">Clear All</button>

		</div>

		<div id="report" class="panel" ng-hide="untilPrinted()">
			<!-- Report Header -->
			<div class="reporthead">
				<span class="hdr sm">Year</span>
				<span class="hdr bg">Term</span>
				<span class="hdr bg">Schedule</span>
				<span class="hdr sm">Grade</span>
				<span class="hdr sm">Units</span>
				<span class="hdr bg">School</span>
			</div>
			<div class="reportsub" ng-repeat="(year, yearCourses) in reportByYear">
				<!-- Course Per Year -->
				<div class="reportrow" ng-repeat="course in yearCourses">
					<span class="dat sm">{{ course.year }}</span>
					<span class="dat bg">{{ course.termLabel() }}</span>
					<span class="dat bg">{{ course.schedule }}</span>
					<span class="dat sm">{{ course.grade }}</span>
					<span class="dat sm">{{ course.adjustedUnits() | number: 2 }}</span>
					<span class="dat bg">{{ course.school }}</span>
				</div>
				<!-- Yearly Subtotals -->
				<div class="subtot">
					<span class="dat sm">{{year}}</span>
					<span class="dat bg">Subtotal</span>
					<span class="dat bg"></span>
					<span class="dat sm">{{ gradePointAverage(yearCourses) | number: 3 }}</span>
					<span class="dat sm">{{ adjustedUnitTotal(yearCourses) | number: 3 }}</span>
					<span class="dat bg"></span>
				</div>
			</div>
		</div>

		</form>

		<!-- In production use:
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
		-->
		<script type="text/javascript" src="lib/angular/angular.js"></script>
		<script type="text/javascript" src="lib/underscore-min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</div>
</body>
</html>
