<!doctype html>
<html lang="en" ng-app="gpaCalc">
<head>
  <meta charset="utf-8">
  <title>GPA Calculator - Angular Demo</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
</head>
<body>
	<div class="container" ng-controller="gpaCalcController">
		<ul class="menu">
			<li><button type="button" class="btn">Print</button></li>
			<li><button type="button" class="btn">Delete</button></li>
		</ul>

		<h1>GPA Calculator - Angular Demo</h1>

		<form name="gpaCalcForm">

		<div id="bio">
			<div class="row">
				<div>
					<label for="name">Applicant Name:</label>
					<input type="text" id="name" placeholder="Name" ng-model="gpacalc.name"/>
				</div>
				<div>
					<label for="school">School Name:</label>
					<input type="text" id="school" placeholder="School" ng-model="gpacalc.school"/>
				</div>
			</div>
			<div class="row">
				<div>
					<label for="degree">Degree Program:</label>
					<input type="text" id="degree" placeholder="Degree" ng-model="gpacalc.degree"/>
				</div>
				<div>
					<label for="major">Major:</label>
					<input type="text" id="major" placeholder="Major" ng-model="gpacalc.major"/>
				</div>
			</div>
		</div>

		<div id="new-course">
			<div class="row">
				<div>
					<label>Schedule:</label>
					<input type="radio" name="schedule" id="semester" value="semester" required ng-model="gpacalc.schedule" />
					<label for="semester">Semester</label>
					<input type="radio" name="schedule" id="quarter" value="quarter" required ng-model="gpacalc.schedule" />
					<label for="quarter">Quarter</label>
				</div>
				<div>
					<label for="term">Term:</label>
					<select id="term" ng-model="gpacalc.term" required ng-options="t for t in terms"></select>
				</div>
				<div>
					<label for="year">Year:</label>
					<input type="text" id="year" placeholder="YYYY" required ng-pattern="/^\d{4}$/" ng-model="gpacalc.year"/>
				</div>
				<div>
					<label for="grade">Grade:</label>
					<input type="text" id="grade" required ng-model="gpacalc.grade"/>
				</div>
				<div>
					<label for="units">Units:</label>
					<input type="text" id="units" required="" ng-model="gpacalc.units"/>
				</div>
				<div>
					<button type="button" class="btn" ng-disabled="gpaCalcForm.$invalid" ng-click="addClass(gpacalc, gpaCalcForm)">Add Class</button>
				</div>
			</div>
		</div>
		
		<div id="courses">
			<table>
				<tr>
					<th></th><th>Year</th><th>Term</th><th>Schedule</th><th>Grade</th><th>Units</th><th>Adj Units</th><th>School</th>
				</tr>
				<tr ng-repeat="course in courses | orderBy:['year', 'term', 'schedule']">
					<td><button type="button" class="btn" ng-click="deleteClass(course)">Delete</button></td>
					<td>{{course.year}}</td>
					<td>{{course.term}}</td>
					<td>{{course.schedule}}</td>
					<td>{{course.grade}}</td>
					<td>{{course.units}}</td>
					<td>{{course.adjustedUnits() | number: 2}}</td>
					<td>{{course.school}}</td>
				</tr>
			</table>

			adjusted unit total: {{ adjustedUnitTotal() | number: 2 }}
		</div>

		</form>

		<!-- In production use:
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
		-->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="js/app.js"></script>
	</div>
</body>
</html>
